# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Playwright
test-results/
playwright-report/

# Screenshots
screenshots/

# Traces
traces/

# Downloads
downloads/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

test_data/user_login_details.py